<ul class="sidenav sidenav-fixed key_tuning_sidenav">
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <p></p><br>
      <li>
        <a class="collapsible-header sidenav_arrow" id="1">Key
          <i class="material-icons arrow1" style="display: none">arrow_drop_down_circle</i>
          <i class="material-icons r270 arrow1">arrow_drop_down_circle</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#!">A</a></li>
            <li><a href="#!">Bb</a></li>
            <li><a href="#!">C</a></li>
            <li><a href="#!">D</a></li>
            <li><a href="#!">F</a></li>
            <li><a href="#!">G</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header sidenav_arrow" id="2">Fiddle Tuning
          <i class="material-icons arrow2" style="display: none">arrow_drop_down_circle</i>      
          <i class="material-icons r270 arrow2">arrow_drop_down_circle</i>              
        </a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#!">GDAE</a></li>
            <li><a href="#!">ADAE</a></li>
            <li><a href="#!">AEAE</a></li>
            <li><a href="#!">AEAC#</a></li>
            <li><a href="#!">GDAD</a></li>
            <li><a href="#!">DDAD</a></li>
            <li><a href="#!">GDGD</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header sidenav_arrow" id="3">Banjo Tuning
          <i class="material-icons arrow3" style="display: none">arrow_drop_down_circle</i>
          <i class="material-icons r270 arrow3">arrow_drop_down_circle</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#!">GDAE</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li><br>
</ul>