@import "materialize/components/color-variables";
$primary-color: color("purple", "lighten-2") !default;
$secondary-color: color("purple", "base") !default;
@import "materialize";


.sidenav {
	width: 200px;
}


.new_tune {
	padding: 0.75rem;
}


.tune_title {
	color: black;
}


.thumb {
	width: 200px;
	height: 120px;
	background-color: darkgrey;
	overflow: hidden;
}

.thumb img {
	min-width: 200px;
	min-height: 120px;
}


.thumb i {
	visibility: hidden;
	color: white;
	position: absolute;
	line-height: 120px;
	margin-left: 76px;
	font-size: 48px;
}

a:hover i {
	visibility: visible;
}

.thumb:hover {
	opacity: 0.9;
}


.row .col {
	padding: 0 0.75rem;
	padding-bottom: 0.75rem;
}


.more {
	float: right;
	color: purple;
}

.more_options {
	/*width: 200px !important;*/
	/*position: relative !important;*/
	/*left: 100px !important;*/
}



.video_player {
	width: 800px;
	height: 480px;
	line-height: 360px;
	/*margin: auto;*/
	background-color: inherit;
}


.video_player * {
	vertical-align: middle;
}