@import "materialize/components/color-variables";
$primary-color: color("purple", "lighten-2") !default;
$secondary-color: color("purple", "base") !default;
@import "materialize";

nav {
	padding: 0 5em;
}

.key_tuning_sidenav {
	/*padding-top: 64px;*/
	z-index: 0;
	width: 250px !important;
}

.collapsible-body li a {
	font-weight: normal;
}


.main {
  padding-left: 250px;
}

@media only screen and (max-width : 992px) {
  .main {
    padding-left: 0;
  }
}


.show_main {
	padding-left: 5em;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  grid-row-gap: 1em;
}

.wrapper_mobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  grid-row-gap: 1em;
}

.tune_card {
	width: 200px;
	margin: 0 auto;
}


.new_tune {
	width: 200px;
	margin: 0 auto;
}





/*nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
	height: 50px;
	line-height: 50px;
}*/


.avatar_container {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	/*margin-top: 7px;*/
}


.avatar {
	object-fit: cover;
/*	height: 100%;
	width: 100%;*/
	height: 50px;
	width: 50px;
}


.sidenav {
	width: 200px;
}

.tune_title {
	color: black;
}


.thumb {
	width: 200px;
	height: 120px;
	background-color: darkgrey;
	overflow: hidden;
}

.thumb img {
	min-width: 200px;
	min-height: 120px;
}


.thumb i {
	visibility: hidden;
	color: white;
	position: absolute;
	line-height: 120px;
	margin-left: 76px;
	font-size: 48px;
}

a:hover i {
	visibility: visible;
}

.thumb:hover {
	opacity: 0.9;
}


.row .col {
	/*padding: 0 0.75rem;*/
	/*padding-bottom: 0.75rem;*/
}


.more {
	float: right;
	color: purple;
}

.more_options {
	/*width: 200px !important;*/
	/*position: relative !important;*/
	/*left: 100px !important;*/
}



.video_player {
	width: 600px;
	height: 360px;
	line-height: 360px;
	/*margin: auto;*/
	background-color: inherit;
}


.video_player * {
	vertical-align: middle;
}